# Recommender System: Collaborative Filtering with Goodreads Dataset From Kaggle

Collaborative Filtering is one of recommender system's method that aims aims at learning predictive models of user preferences, interests or behavior from community data, that is, a database of available user preferences

Source: Latent semantic models for collaborative filtering

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read the dataset books
df_books = pd.read_csv("books.csv")

#Read the ratings from user
df_ratings = pd.read_csv("ratings.csv")

#Merging Dataset books and ratings
#df_ratings = pd.merge(df_books, df_ratings).drop(['books_count','isbn','isbn13','authors','original_publication_year','original_title','language_code','average_rating','ratings_count','work_ratings_count','work_text_reviews_count','ratings_1','ratings_2','ratings_3','ratings_4','ratings_5','image_url','small_image_url','work_id'], axis = 1)

pd.set_option('display.max_rows', None)

In [4]:
#Dropping Unused Columns
df_books = df_books[['book_id','title']]

   book_id                                              title
0  2767052            The Hunger Games (The Hunger Games, #1)
1        3  Harry Potter and the Sorcerer's Stone (Harry P...
2    41865                            Twilight (Twilight, #1)
3     2657                              To Kill a Mockingbird
4     4671                                   The Great Gatsby

In [ ]:
df_books.shape

In [ ]:
df_ratings.shape

In [ ]:
df_bookrating = pd.merge(df_ratings,df_books)

In [ ]:
df_bookrating.shape

In [ ]:
#Checking the Info of All Column
df_books.info()

print('========================')

#Checking if there any missing values on data
# df_ratings.isnull().sum()

In [ ]:
user_ratings = df_ratings.pivot_table(index=['user_id'], columns=['title'], values='rating')

In [ ]:
#Remove Books which have less than 15 user who rated it.
user_ratings = user_ratings.dropna(thresh=100,axis=1)

In [ ]:
user_ratings.head()

In [ ]:
#Fill Nan With 0
user_ratings = user_ratings.fillna(0)

In [ ]:
#Similarity Matrix
books_similarity = user_ratings.corr(method='pearson')
books_similarity.head()

In [ ]:
def sim_books(title,rating):
    sim_score = books_similarity[title]*(rating)
    sim_score = sim_score.sort_values(ascending=False)
    
    return sim_score

In [ ]:
print(sim_books('1776',5))

In [ ]:
new_user = [("1776",5)]

similar_books = pd.DataFrame()

for title,rating in new_user:
    similar_books = similar_books.append(sim_books(title,rating),ignore_index=True)